<div class="header-nav">
	<div>logo placeholder</div>
	<nav>
		<a href="/about"><p>ABOUT US</p></a>
		<p>SERVICES</p>
		<P>PROJECTS</P>
		<P>CAREER</P>
		<a href="/blog"><P>BLOG</P></a>
		<P>CONTACT US</P>
	</nav>
	<div>SEARCH</div>
</div>